#introductoryImg{
    max-height:500px;
}
#category-card{
    height:300px;
   width: 100;
    object-fit: cover;
}
#home-load-placeholder{
    height:300px
}
#card-products-display{
   height:350px;
   width:100%;
   object-fit:cover;
  
}
#card-shimmer{
    height:350px;
    width:100%;
    object-fit:cover;
    
}
#productDescImg{
    height:500px;
    width:90%;
    object-fit:scale-down;
}
#cart-image{
    max-height:400px;
    
    width: 100%;
    object-fit:contain;
}
#wishlist-cards-image{
    height:300px;
    width:100%;
    object-fit:cover;    
}
#image-noWishlist{
    height:300px;
    width:100%;
    object-fit:cover; 
}
#orderImage{
    height:80px;
    width:80px;
    object-fit:cover; 
}
#alert{
    z-index: 9999;
}
@media (min-width: 768px) {
    #filterSection{
        display:block;
    }
}